mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#youtube") YouTube
    li: a(href="#mentoring") Mentoring
    li: a(href="#articles") Articles
    li: a(href="#vine") Vine
    li: a(href="#design") Design
    li: a(href="#notes") Notes
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo Travis Neilson
    
    nav.site-nav
      +nav-content()
        
    a.email-link(href="mailto:travisneilsong@gmail.com") +email me


    .mobile-nav-toggle: span
