section.design
  .flex.flex--center
    .col-50.flex.flex--center
      .col-1
        p.home-lead ...Updating Dribbble...
        //- Boxes
        a.home-cta(href="//dribbble.com/travisneilson") See more on Dribbble
        
    .col-50.flex.flex--center
      .col-1
        p.home-lead ...and Behance...
        //- Boxes
        a.home-cta(href="//www.behance.net/travisneilson") See more on Behance
      
