
<section class="design">
  <div class="flex flex--center">
    <div class="col-50 flex flex--center">
      <div class="col-1">
        <p class="home-lead">...Updating Dribbble...</p><a href="//dribbble.com/travisneilson" class="home-cta">See more on Dribbble</a>
      </div>
    </div>
    <div class="col-50 flex flex--center">
      <div class="col-1">
        <p class="home-lead">...and Behance...</p><a href="//www.behance.net/travisneilson" class="home-cta">See more on Behance</a>
      </div>
    </div>
  </div>
</section>